<!DOCTYPE html>
<!--
  # Sports! - Sean Ging and Deven Maheshwari
  # SoftDev
  # K14 - Form and Function/Intro to Flask/App to echo input from user.
  # Oct 14 2021
  Simple demo of HTML forms via Flask

  trioTASK:
    If any member of team has forms experience, let their know-how osmote.
    If no one does, seek external assistance.
    PROTIP: Revisit code from intro if you have it.
    Peruse this code together and discuss how it should work, in conjunction with the back end apparatus.

 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h1>
      Welcome to fight club, {{ name }}
    </h1>
    <h3>
        Thanks for spilling your secrets!
    </h3>

    Username: {{ name }} <br>
    Request Method: GET  <br>
    Query String: username={{ name }}&sub1={{ url }}

    <br>
  </body>

</html>
