<!DOCTYPE html>
<!--
    # Team BurnedToast
    # Sean Ging, Tomas Acuna, Naomi Naranjov (Duckies: Friedrich, )
    # SoftDev
    # K13: Template for Success/ render_templates, randomly generating, app.route
    # 10-07-2021
 -->

<html>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>

  <head>

    Team BurnedToast: Sean Ging, Thomas Acuna, Naomi Naranjo (Duckies: Friedrich, LLamy, Untitled)
    <title> {{ foo }} </title>

  </head>

  <body>

    <h1>Occupations</h1>



    <table>

      <tr>
        <th>Job Class</th>
        <th>Percentage</th>
      </tr>
      {% for job, chance in jc %}
      <tr>
        <td>{{job}}</td>
        <td>{{chance}}</td>
      </tr>

      {% endfor %}

    </table>

    <h3>{{job}}:{{chance}}</h3>


    <h1>Your job is {{chosen}}</h1>
  </body>
</html>
