<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>
      Sean Ging, Haotian Gan, Aryman Goenka, Tomas Acuna (Duckies:) Friedrich,
      Cinnamon, Untitled, Llamy
    </h1>
    <p>Choice: {{choice}}</p>
    <p>
      Job Class,Percentage Management,6.1
      <br />
      Business and Financial operations,5
      <br />
      Computer and Mathematical,2.7
      <br />
      Architecture and Engineering,1.7
      <br />
      "Life, Physical and Social Science",0.9
      <br />Community and Social Service,1.6 <br />Legal,0.8 "Education,
      training and library",6.1 <br />"Arts, design, entertainment, sports and
      media",1.7 <br />Healthcare practioners and technical,5.5 <br />Healthcare
      support,2.8 <br />Protective service,2.3 <br />Food preparation and
      serving,8.3 <br />Building and grounds cleaning and maintenance,3.7
      <br />Personal care and service,4 <br />Sales,10.2 <br />Office and
      administrative support,15.1 <br />"Farming, fishing and forestry",0.6
      <br />Construction and extraction,4.3 <br />"Installation, maintenance and
      repair",3.8 <br />Production,6.1 <br />Transportation and material
      moving,6.5<br />
      Total,99.8
    </p>
  </body>
</html>
